# Environnement virtuel Python
.venv/
venv/

# Fichiers compilés Python
__pycache__/
*.py[cod]
*.so

# Fichiers de configuration d'IDE
.idea/
*.iml

# Fichiers système
.DS_Store
Thumbs.db

# Logs et fichiers temporaires
*.log
*.tmp
*.swp

# Mots de passe / fichiers sensibles
.env
